header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tituloMaior {
    display: block;
    display: flex;
    width: 50%;
    margin: 10px 0px 0 0px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(236, 105, 197, 0);
    background-color: #fdfdfd00;
    border-radius: 30px;
}

hr{
    margin-left: 100px;
    margin-right: 100px;
}

.idName{
    margin-left: 100px;
}